<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Babbage</title>
</head>
<body>
    <header>
        <h1>Babbage</h1>
        <h3>Trabajo integrador - modulo 4</h3>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="hamilton">Hamilton</a></li>
            <li><a href="turing">Turing</a></li>
            <li><a href="lovelace">Lovelace</a></li>
            <li><a href="hopper">Hopper</a></li>
            <li><a href="clarke">Clarke</a></li>
            <li><a href="berners-lee">Berners-lee</a></li>
            <li><a href="babbage">Babbage</a></li>
        </ul>
    </nav>
    <section>
        <h2>Charles Babbage</h2>
        <div class="parrafo">
            <p>Charles Babbage (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791-Londres, 18 de octubre de 1871) fue un matemático y científico de la computación británico.1​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, pero nunca construyó, la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "El Padre de la computación". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.2​
        </p>
        <b>Primeros años</b>
        <p>
            Hay un debate sobre la fecha y lugar de nacimiento de Babbage. En primer lugar, según Dictionary of National Biography seguramente nació en el número 44 de Crosby Row, Walworth en Londres, Inglaterra.3​ En relación a su fecha de nacimiento, The Times publicó que Babbage nació el 26 de diciembre de 1792 pero un sobrino suyo afirmó que fue un año antes, 1791. El registro de la parroquia St. Mary's en Newington establece que Babbage fue bautizado el 6 de enero de 1792, lo cual puede confirmar que hubiese nacido un año antes. 4​5​6​

            Babbage fue el cuarto hijo de Betsy Plumleigh Teape y Benjamin Babbage (Socio banquero del empresario William Praed en fundar Praed9s & Co.) 7​

            Cuando Babbage tenía 8 años fue enviado a una escuela de día en Alpington para recuperarse de una peligrosa fiebre. Durante un tiempo pudo atender a la escuela de Enrique VI en Totnes, pero su salud le obligó a seguir recibiendo clase de los tutores privados durante un tiempo. 8​

            Fue después de esto cuando Babbage comenzó a acudir a una Academia en Enfield (Londres), donde las clases se impartían por el reverendo Stephen Freeman. La biblioteca de esta academia incentivó la pasión de Babbage por las matemáticas. Antes de dejar esta academia estudió en dos escuelas privadas, la primera se impartía por un clérigo cerca de Cambridge, a través de la cual conoció al evangélico inglés Charles Simeon, pero no eran tutorías lo que Charles necesitaba. La segunda escuela era un tutor de Oxford, gracias al cual Babbage adquirió el nivel suficiente para ser admitido en Cambridge.9​ Fue entonces cuando le trajeron de vuelta a casa para estudiar en una escuela a la edad de 16 o 17.10​

        </p>

        </div>
        <div class="img">
            <img src="img/charles.jpg">
        </div>
    </section>
    <footer>
        <a href="https://github.com/YonPalac1">Yonatan Palacios</a>
    </footer>
</body>
</html>