<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Berners-lee</title>
</head>
<body>
    <header>
        <h1>Berners-lee</h1>
        <h3>Trabajo integrador - modulo 4</h3>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="hamilton">Hamilton</a></li>
            <li><a href="turing">Turing</a></li>
            <li><a href="lovelace">Lovelace</a></li>
            <li><a href="hopper">Hopper</a></li>
            <li><a href="clarke">Clarke</a></li>
            <li><a href="berners-lee">Berners-lee</a></li>
            <li><a href="babbage">Babbage</a></li>
        </ul>
    </nav>
    <section>
        <h2>Tim Berners-Lee</h2>
        <div class="parrafo">
            <p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de junio de 1955. Sus padres eran Conway Berners-Lee y Mary Lee Woods.1​ Sus padres eran matemáticos británicos y formaron parte del equipo que construyó el Manchester Mark I[cita requerida]. Por ello, la orientación profesional le venía de familia, ya que sus padres se habían conocido en el proyecto de desarrollo del Ferranti Mark I, el primer ordenador comercial con programa almacenado desarrollado por la empresa Ferranti en marzo de 1951. Su padre, Conway Berners-Lee, y su madre, Mary Lee Woods, también fueron especialistas en computación; trabajaron con el equipo que construyó el Ferranti Mark l.2​3​

Comenzó en la escuela primaria Sheen Mont y luego pasó al Emanuel School, ambas en Londres, de 1969 a 1973. Estudió en Queen's College, de la Universidad de Oxford, de 1973 a 1976, donde recibió un título de primera clase de Física.4​ Conoció a su primera esposa en este tiempo. En 1978, trabajó en D.G. Nash Limited (también en Poole) donde escribió un sistema operativo.5​


        </p>
        </div>
        <div class="img">
            <img src="img/berners.jpg">
        </div>
    </section>
    <footer>
        <a href="https://github.com/YonPalac1">Yonatan Palacios</a>
    </footer>
</body>
</html>