<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Clarke</title>
</head>
<body>
    <header>
        <h1>Clarke</h1>
        <h3>Trabajo integrador - modulo 4</h3>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="hamilton">Hamilton</a></li>
            <li><a href="turing">Turing</a></li>
            <li><a href="lovelace">Lovelace</a></li>
            <li><a href="hopper">Hopper</a></li>
            <li><a href="clarke">Clarke</a></li>
            <li><a href="berners-lee">Berners-lee</a></li>
            <li><a href="babbage">Babbage</a></li>
        </ul>
    </nav>
    <section>
        <h2>Arthur C. Clarke</h2>
        <div class="parrafo">
            <p>Clarke nació en Minehead, Somerset. Ya de pequeño mostró su fascinación por la astronomía cuando, con un telescopio casero, dibujó un mapa de la Luna. Terminados sus estudios secundarios en 1936, se trasladó a Londres. Durante la Segunda Guerra Mundial, sirvió en la Royal Air Force (Real Fuerza Aérea) como especialista en radares, involucrándose en el desarrollo de un sistema de defensa por radar, y ejerciendo como instructor de la naciente especialidad. En 1945, concluida la guerra, publicó su artículo técnico Extra-terrestrial Relays en la revista especializada Wireless World, en el cual sentó las bases de los satélites artificiales en órbita geoestacionaria (llamada, en su honor, órbita Clarke), una de sus grandes contribuciones a la ciencia del siglo XX. Este trabajo le valió numerosos premios, becas y reconocimientos.

            En ese período estudió matemáticas y física en el prestigioso King's College de Londres, estudios que finalizó con honores. También ejerció varios años como presidente de la Sociedad Interplanetaria Británica (BIS), hecho que demuestra su gran afición por la astronáutica. En 1957 como parte del comité británico acudió a Barcelona para el VIII Congreso Internacional de Astronáutica, momento que coincidió con el lanzamiento del Sputnik I por parte de la Unión de Repúblicas Socialistas Soviéticas.

            Su fama mundial se consolidó con sus intervenciones en la televisión: en la década de 1960, como comentarista de la CBS de las misiones Apolo; y en la década de 1980, merced a un par de series de televisión que realizó.

            También son conocidas sus famosas leyes de Clarke, publicadas en su libro de divulgación científica Perfiles del futuro (1962). La más popular (y citada) de ellas es la llamada «Tercera Ley de Clarke»: Toda tecnología lo suficientemente avanzada es indistinguible de la magia.

            En 1953 Clarke conoció y se casó con Marilyn Mayfield, una divorciada de 22 años con un niño pequeño. Se separaron a los seis meses, aunque el divorcio no se formalizó hasta 1964.1​ Clarke nunca volvió a casarse pero fue un amigo muy íntimo de Leslie Ekanayake, quien falleció en 1977.2​3​

            Desde 1956 y hasta su fallecimiento vivió en la isla de Sri Lanka, (antigua Ceilán), en parte por su interés por la fotografía y la exploración submarina, y en parte debido a su fascinación por la cultura india.

            Se le otorgó el título de caballero de la Orden del Imperio Británico en 1998. También en su honor se puso su nombre a un asteroide, (4923) Clarke, y a una especie de dinosaurio ceratopsiano, Serendipaceratops arthurcclarkei, descubierto en Inverloch (Australia).

            Clarke falleció la madrugada del miércoles 19 de marzo de 2008 a las 01:30 hora local (21.00 GMT del martes) en Colombo (capital de Sri Lanka), debido a un paro cardiorrespiratorio. Tenía 90 años.4​

        </p>
        </div>
        <div class="img">
            <img src="img/arthur.jpg">
        </div>
    </section>
    <footer>
        <a href="https://github.com/YonPalac1">Yonatan Palacios</a>
    </footer>
</body>
</html>