<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Bienvenido</title>
</head>
<body>
    <header>
        <h1>Bienvenido</h1>
        <h3>Trabajo integrador - modulo 4</h3>
    </header>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto necessitatibus eaque quod fugiat adipisci in? Rerum error molestiae veritatis officia quae cupiditate vel eum, vitae, adipisci quia beatae, sequi excepturi?</p>

    <div class="links">
        <a href="hamilton">Hamilton</a>
        <a href="turing">Turing</a>
        <a href="lovelace">Lovelace</a>
        <a href="hopper">Hopper</a>
        <a href="clarke">Clarke</a>
        <a href="berners-lee">Berners-lee</a>
        <a href="babbage">Babbage</a>
    </div>

    <footer>
        <a href="https://github.com/YonPalac1">Yonatan Palacios</a>
    </footer>
    
</body>
</html>